<div id="imgTagWrapperId" class="imgTagWrapper" style="height: 645.455px;">
    <img alt="Merlion Compatible with Apple Watch Band 38mm 42mm 40mm 44mm for Women/Men,Silicone Fadeless Pattern Printed Replacement Floral Bands for iWatch Series 4/3/2/1"
        src="https://images-na.ssl-images-amazon.com/images/I/71GpT1D-kGL._AC_SX679_.jpg"
        data-old-hires="https://images-na.ssl-images-amazon.com/images/I/71GpT1D-kGL._AC_SL1001_.jpg"
        onload="if(this.width/this.height > 0.77){this.className += ' a-stretch-horizontal'}else{this.className += ' a-stretch-vertical'};this.onload='';"
        data-a-image-name="landingImage" class="a-dynamic-image a-stretch-horizontal" id="landingImage"
        data-a-dynamic-image="{&quot;https://images-na.ssl-images-amazon.com/images/I/71GpT1D-kGL._AC_SX342_.jpg&quot;:[342,342],&quot;https://images-na.ssl-images-amazon.com/images/I/71GpT1D-kGL._AC_SX466_.jpg&quot;:[466,466],&quot;https://images-na.ssl-images-amazon.com/images/I/71GpT1D-kGL._AC_SX385_.jpg&quot;:[385,385],&quot;https://images-na.ssl-images-amazon.com/images/I/71GpT1D-kGL._AC_SX569_.jpg&quot;:[569,569],&quot;https://images-na.ssl-images-amazon.com/images/I/71GpT1D-kGL._AC_SX522_.jpg&quot;:[522,522],&quot;https://images-na.ssl-images-amazon.com/images/I/71GpT1D-kGL._AC_SX425_.jpg&quot;:[425,425],&quot;https://images-na.ssl-images-amazon.com/images/I/71GpT1D-kGL._AC_SX679_.jpg&quot;:[679,679]}"
        style="max-width: 497px; max-height: 646px;">
    <div id="magnifierLens"
        style="position: absolute; background-image: url(&quot;https://images-na.ssl-images-amazon.com/images/G/01/apparel/rcxgs/tile._CB483369110_.gif&quot;); cursor: pointer; width: 361px; height: 112px; left: 71px; top: 144.2px;">
    </div>
</div>
